<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  
  <!-- Define bean of Address -->
    
   <bean id="add" class="com.spring.diforobject.Address">
   
   <property name="city" value="PUNE"></property>
   <property name="state" value="MH"></property>
   
   </bean>
   
  <!-- Define bean of Customer -->
   
   <bean id="customer" class="com.spring.diforobject.Customer">
   
   <property name="custId" value="101"></property>
   <property name="custName" value="Ravic"></property>
   
   <property name="address" ref="add"></property>
   
   </bean>
   
</beans>