<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    
  <bean id="empDao" class="com.spring.dao.ManageEmployee"></bean>
  <context:annotation-config></context:annotation-config>
 
 <!-- use in case of JDBC Template -->
      
<!--  Register DriverManagerDataSource bean  which contains Information regarding Database --> 

<!-- Use below configuration in case of Mysql Data Base -->

<!-- 
 <bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.jdbc.Driver" />
<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
<property name="url" value="jdbc:mysql://localhost:3306/mydb" />
<property name="username" value="root" />
<property name="password" value="mysql" />
</bean>  -->

      
<!-- Contains Information regarding Database -->

<bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
<property name="username" value="system" />
<property name="password" value="kamal" />
</bean> 




<!-- Use below configuration in case of Oracle Data Base -->

<!-- Register bean of EmployeeDaoImpl and autowire Datasource bean inside it -->


<bean id="emptemplatedao" class="com.spring.dao.EmployeeDaoImpl">
</bean>
 
 
         <!-- Use in case of hibernate Template  -->
    
  <!-- Register the session factory bean to used inside HibernateTemplate Class  -->
   
     
<bean id="mysessionFactory" class="org.springframework.orm.hibernate5.annotation.AnnotationSessionFactoryBean">
<property name="dataSource" ref="dataSource"></property>
		
		<property name="annotatedClasses">
		
		<list>
		<value>com.spring.bean.Employee</value>
		</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
			
			</props>
		</property>
	</bean>
	
	
	<bean id="emphibernate" class="com.spring.dao.EmployeeHibernate"></bean>
	
	
	<!-- Register bean of HibernateTemplate  pass sessionFactory bean inside it-->
	
	<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
	<property name="sessionFactory" ref="mysessionFactory"></property>
	</bean>
	
<!-- 	Register the bean of EmployeeHibernateDaoImpl and autowire  HibernateTemplate inside --> 
		
	<bean id="d" class="com.spring.dao.EmployeeHibernateDaoImpl"> </bean>    
    
    
       
</beans>
